// Your variable overrides

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$body-bg:       $gray-200;
$body-color:    $gray-900;

$primary:       #000066; // blue
$secondary:     #CC0000; // red
$success:       #999999; // silver
$info:          #881ee4; // purple
$warning:       #ff9a00; //
// $danger:        $red ; //

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

.halloween-card-header {
    font-weight: bold;
    color: $primary;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
  font-weight: bold;
  
}

body {
    max-width: 800px !important;
}


#output {
    display: none;
}

#error {
    display: none;
}

#output-image {
    // max-width: 430px;
}
